footer {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    padding: 1%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    /* background-color: #B8860B; */
    /* darker shade of tan */
    box-shadow: 0px 0px 100px black;
    background-image: linear-gradient(to bottom right, red, orange, yellow);

}

footer a {
    text-decoration: none;
    color: black;
}

footer:hover a {
    /* text-shadow: 0px 0px 2px white; */
    text-shadow: 0px 0px 1px black;
    transform: scale(1.1, 1.1);
}

#fixed {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    padding: 1%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    /* background-color: #B8860B; */
    /* darker shade of tan */
    box-shadow: 0px 0px 100px black;
    background-image: linear-gradient(to bottom right, red, orange, yellow);
}

#fixedfootertobottom:hover {
    /* transform: scale(1.1, 1.1); */
    font-size: large;
}


.footerdiv {
    /* background-color: #219ebc; */
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 7%;
}

#hidden {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: black;
    padding: 1%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    /* background-color: #B8860B; */
    /* darker shade of tan */
    box-shadow: 0px 0px 100px black;
    background-image: linear-gradient(to bottom right, red, orange, yellow);
    opacity: 1;
}

.footerdiv:hover #hidden {
    display: block;
    animation: fadin 2s;
    animation-fill-mode: forwards;
    /* Keep the last keyframe of the animation */
    /* the above code nees js to fade away slowly: */
}

.footerdiv:not(:hover) #hidden {
    animation: fadout 2s;
}

@keyframes fadin {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadout {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}



@media screen and (max-width: 480px) {

    footer,
    #fixed {
        font-size: 0.8em;
        /* height: 1.5em; */
        padding: 10px;
    }

}