.container {
    align-items: center;
}

.instructionDIV {
    background-color: #2B2406;
    width: 30em;
    padding: 20px;
    padding-top: 5px;
    /* border: 1px solid beige; */
    /* box-shadow: 0px 0px 20px beige; */
    margin: auto;
}

.instructionDIV:hover {
    box-shadow: 0px 0px 70px brown;
    transform: scale(1.2, 1.1);

}

.instructionDIV h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: whitesmoke;
}

.instructionDIV p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    color: white;
    font-size: large;
    line-height: 24px;
}

.instructionDIV ol li,
.instructionDIV ul li {
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    font-size: large;
    line-height: 25px;

}

a #goback,
a #startrandom {
    position: fixed;
    background-color: aqua;
    top: 15%;
    padding: 25px;
    width: 16%;
    color: black;
    font-size: 150%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    border: 0.2em solid darkgray;
    border-radius: 15px;
    background-color: aliceblue;
    color: #4E1E86;
}

a #goback {
    left: 5%;
}

a #startrandom {
    right: 5%;
}

a:hover #startrandom,
a:hover #goback {
    background-color: rgb(208, 207, 207);
    box-shadow: 0px 0px 25px black;
    cursor: pointer;
}

#startrandom:active,
#goback:active {
    background-color: #2B2406;
    transform: scale(1.1, 1.1);
}


@media screen and (max-width: 1140px) {

    #goback,
    #startrandom {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .instructionDIV {
        width: 83%;
    }

    .instructionDIV p,
    .instructionDIV ul li,
    .instructionDIV ol li {
        font-size: 1em;
    }

    #startrandom,
    #goback {
        position: absolute;
        display: block;
        top: 15%;
        right: 1%;
        width: 5.4em;
        padding: 12px;
        border-radius: 10px;
        border: 1px solid black;
    }

    #goback {
        left: 1%;
    }

    #goback a,
    #startrandom a {
        font-size: small;
        padding: 0;
    }

    #goback,
    #startrandom {
        display: none;
    }
}