body {
    text-align: center;
    background-color: #D2B48C; /* tan/beige */
    margin: 0;
    background-image: linear-gradient(to bottom right, red, orange, yellow, green);
    background-attachment: fixed;
}

@font-face {
    font-family: 'MyFont';
    src: url('../fonts/April\ Easter.ttf');
}

h1 {
    text-align: center;
    font-family: 'MyFont', sans-serif;
    font-size: 300%;
    margin-top: 5%;
    opacity: 1;
    animation: fade-in 2s;
    color: rgb(167, 0, 0);
    text-shadow: 1px 1px rgb(255, 0, 0), 2px 2px rgb(255, 82, 82), 1px 1px 5px black;
    display: inline-block;
}

h1 a{
    text-decoration: none;
    color: rgb(167, 0, 0);
}

h1 a:hover{
    color: #EF8B65;
}

h1:hover{
    color: #EF8B65;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

nav,
.container {
    /* background-color: aqua; */
    display: grid;
    justify-content: center;
    animation: fade-in 2s;
    padding: 20px;
}

nav a {
    text-shadow: 0.5px 0.5px gainsboro, 1px 1px 7px black;
}

.container-item{
    text-align: center;
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    color: white;
    background-color: red;
    box-shadow: 1px 1px darkred, 2px 2px darkmagenta, 1px 1px 10px black;
    margin: 15px;
}

.container-item:hover {
    background-color: brown;
}

.container-item:active {
    background-color: darkred;
}

.menu{
    display: inline-block;
    background-color: red;
}

.menu button{
    width: 10em;
    height: 50px;
}


.dropdown:hover{
    background-color: gray;
}

.dropdown{
    position: relative;
    display: inline-block;

    text-align: center;
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    color: white;
    background-color: red;
    box-shadow: 1px 1px darkred, 2px 2px darkmagenta, 1px 1px 10px black;
    margin: 15px;
}

.dropdown-content{
    display: none;
    position: absolute;
    /* background-color: yellow; */
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 65px;
    margin-left: -7.3em;
    width: 25em;
    /* box-shadow: none; */

}

.dropdown-content ul{
    list-style: none;
}

.dropdown-content li{
    display: inline-block;
    margin-right: 10px;
}

.dropdown .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: large;
}


.dropdown:hover .dropdown-content{
    display: block;
}








/* the infinite anuimation this is ======================//===================== */

#sett {
    background-color: #8ecae6;
    animation: color-change 7s infinite;

}

@keyframes color-change {
    0% {
        background-color: #8ecae6;
    }

    10% {
        background-color: #219ebc;
    }

    20% {
        background-color: #023047;
    }

    30% {
        background-color: #ffb703;
    }

    40% {
        background-color: #fb8500;
    }

    50% {
        background-color: #219ebc;
    }

    60% {
        background-color: #fb8500;
    }

    70% {
        background-color: #ffb703;
    }

    80% {
        background-color: #023047;
    }

    90% {
        background-color: #219ebc;
    }

    100% {
        background-color: #8ecae6;
    }
}

#infinite {
    color: aquamarine;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}