body {
    text-align: center;
    background-color: #D2B48C; /* tan/beige */
    margin: 0;
    background-image: linear-gradient(to bottom right, red, orange, yellow, green);
    background-attachment: fixed;
}

@font-face {
    font-family: 'MyFont';
    src: url('../fonts/April\ Easter.ttf');
}

h1 {
    text-align: center;
    font-family: 'MyFont', sans-serif;
    font-size: 300%;
    margin-top: 5%;
    opacity: 1;
    animation: fade-in 2s;
    color: rgb(167, 0, 0);
    text-shadow: 1px 1px rgb(255, 0, 0), 2px 2px rgb(255, 82, 82), 1px 1px 5px black;
    display: inline-block;
}

h1 a{
    text-decoration: none;
    color: rgb(167, 0, 0);
}

h1 a:hover{
    color: #EF8B65;
}

h1:active{
    color: chocolate;
    transform: scale(1.5,1.5);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

nav {
    /* background-color: aqua; */
    display: grid;
    justify-content: center;
    animation: fade-in 2s;
    padding: 20px;
}

nav a, nav .dropdown {
    text-shadow: 0.5px 0.5px gainsboro, 1px 1px 7px black;
}

.container-item, .dropdown{
    text-align: center;
    padding: 20px;
    font-size: x-large;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    color: white;
    background-color: red;
    box-shadow: 1px 1px darkred, 2px 2px darkmagenta, 1px 1px 10px black;
    margin: 15px;
    border-radius: 10px;
}

.container-item:hover, .dropdown:hover {
    background-color: brown;
}

.container-item:active {
    background-color: darkred;
    transform: scale(1.1,1.1);
}




.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown:hover{
    cursor: default;
}

.menu{
    display: inline-block;
    /* background-color: red; */
    display: none;
    position: absolute;
    top: 68px;
    width: 180%;
    margin-left: -13.2em;

}

.menu button{
    width: 7em;
    /* margin: 2em; */
    margin-top: 0.5em;
    font-size: x-large;
    padding: 20px;
    font-weight: bold;
    background-color: none;
    border: 3px solid darkgray;
    border-radius: 15px;
    background-color: aliceblue;
    color: #4E1E86;
}

.menu button:hover{
    background-color: rgb(208, 207, 207);
    box-shadow: 0px 0px 25px black;
    cursor: pointer;
}

.menu button:active{
    transform: scale(1.1,1.1);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown:hover .menu{
    display: inline-block;
    animation:  fadin 0.5s;
}



.dropdown .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: large;
}





/* the infinite anuimation this is ======================//===================== */

#sett {
    background-color: #8ecae6;
    animation: color-change 7s infinite;

}

@keyframes color-change {
    0% {
        background-color: #8ecae6;
    }

    10% {
        background-color: #219ebc;
    }

    20% {
        background-color: #023047;
    }

    30% {
        background-color: #ffb703;
    }

    40% {
        background-color: #fb8500;
    }

    50% {
        background-color: #219ebc;
    }

    60% {
        background-color: #fb8500;
    }

    70% {
        background-color: #ffb703;
    }

    80% {
        background-color: #023047;
    }

    90% {
        background-color: #219ebc;
    }

    100% {
        background-color: #8ecae6;
    }
}

#infinite {
    color: aquamarine;
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}



/* responsiveness for mobile */
@media screen and (max-width: 480px) {
    .container-item, .dropdown{
        font-size: 1.5em;
        margin-top: 15px;
        padding: 25px;
        /* width: 100%; */
        display: grid;
        justify-content: center;
    }
    h1{
        font-size: 290%;
        }

    nav{
        margin-top: 5%;
    }
  }